body {
	background-attachment: fixed;
	background-color: #000000;
	background: #000000 url('../images/cfbg.jpg') center no-repeat;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	overflow-y: hidden;
	overflow: hidden;
	font-size: 14pt;
    font-family: Arial, Tahoma, Verdana;
}



input {
	color: orange;
	background-color: black;
	/*background: #505050;*/
	text-transform: uppercase;
}

.hiddensubmit {
	border:0px; 
	color: transparent;
	background-color: transparent; 
	position: absolute; 
	top:0px; 
	left:0px;
	width:7px; 
	height:7px;
	z-index: -9999;
}


.jBtn {
	width: 180px;
	height: 50px;
}

.cBtn {
	width:100px;
	height: 40px;
}

.cancelbox {
	position: absolute;
	float: left;
	left: 10px;
	bottom: 10px;

}

.capsel {
	background: #f58400 none ! important;
}

.submitbox {
	position: absolute;
	float: right;
	right: 10px;
	bottom: 10px;
}

.helpbox {
	position: absolute;
	float: right;
	top: 5px;
	right:5px;
	width: 40px;
	height: 40px;
}

.cancelBtn {
	width: 150px;
	height: 40px;
}

.submitBtn {
	width: 150px;
	height: 40px;
}

.ovrSizeSubmitBtn {
	width: 150px;
	height: 150px;
}

.dBtn {
	position: relative; 
	float: right; 
	width: 80px;
}



.ui-autocomplete {
	max-height: 275px;
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 20px;
}

.ui-autocomplete-input {
	width:95%;
}

html {
	overflow-y: hidden;
}

* html .ui-autocomplete {
	height: 275px;
	color: yellow;
	overflow-y: hidden;
	overflow-x: hidden;
}

div {
	color: orange;
}

.ghost {
	color: 	#C0C0C0;
}

.vert {
	height: 32px;
	padding: 8px 0px 0px 0px;
}

.drops {
	filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=5, OffY=5,color='black', positive='true');
	text-shadow: 4px 4px #000000;
}

.butdrops {
	box-shadow: 5px 5px 2px #000000;
}

.whdrops {
	filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=6, OffY=7,color='#282828', positive='true');
}

.selectd {
	float:left; 
	font-size:1.2em;
}

.dlogsel {
	color: red;
}

.dlogcapsel {
	background: #333333 url('images/ui-bg_gloss-wave_25_333333_500x100.png') 50% 50% repeat-x;
}

.bPatch {
	margin: 0px 10px 0px 10px; 
	filter:alpha(opacity=50);
	vertical-align: top;
}

.legacy {
	display: none;
}

.legacy input {
	background-color: white;
	color: black;
}

.fader {
	display: none;
	font-size: 3em;
}

.input {
	width: 400px;
	font-size: 1.2em;
	margin: 5px 0px 0px 0px;
}

.autocinput {
	width: 350px;
	font-size: 1.2em;
	margin: 0px 0px 0px 0px;
}

.poli {
	display: block;
	clear: both;
}

.biginput {
	font-size: 1.8em;
	margin: 5px 0px 0px 0px;
	width: 650px;
}

.input-error {
	background-color: #480000;
}

.imglinks {
	margin: 25px 20px 25px 20px;
	cursor: pointer; 
	cursor: hand;
	text-align: center;
	float: left;
	
}

.imglinklab {
	margin: 0px 0px 0px 0px;
}

.remx {
	position: relative;
	top: 8px;
	width: 30px;
	height: 30px;
}

label {
	color: yellow;
}

textarea {
	background-color: black;
	color: orange;
}

table {
	color: yellow;
	width: 100%;
	border-collapse: collapse;
}

tr {
	padding: 0;
	margin: 0;
}

td {
	border: solid transparent 5px;
	padding: 0px;
	margin: 0px;
	font-size: 12pt;
}

select {
	font-size: 14pt;
	color: orange;
	background: #000000;
	}

/* ID's */

#container {
	width: 100%;
	overflow: hidden;
}

#content {
	text-align: center;
}

#court {
	margin: 0px;
	padding: 0px;
}

#court label {
	font: size: 15px;
}
